# Python Variables

Variables are containers for storing data values.

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
 * A variable name must start with a letter or the underscore character.
 * A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
 * Variable names are case-sensitive (age, Age and AGE are three different variables)
 * A variable name cannot be any of the Python keywords.

## Creating

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

## Global and Local variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

In [ ]:
def myfunc():
  global x
  x = "fantastic"
  f = '!'
  print(f)
myfunc()

print("Python is " + x )

## Data types in python

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

 * String Type:	str

 * Numeric Types:	int, float, complex

 * Sequence Types:	list, tuple, range

 * Mapping Type:	dict

 * Set Types:	set, frozenset

 * Boolean Type:	bool

 * Binary Types:	bytes, bytearray, memoryview

 * None Type:	NoneType

### Numeric type

There are three numeric types in Python:

 * int
 * float
 * complex

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

#### Casting

In [ ]:
x = complex(3)    
y = int(3)    
z = float(3)  
print(x)
print(y)
print(z)

#### Arithmatic operators

In [ ]:
a = 5
b = 3

# Addition
result_addition = a + b
print("Addition:", result_addition)

# Subtraction
result_subtraction = a - b
print("Subtraction:", result_subtraction)

# Multiplication
result_multiplication = a * b
print("Multiplication:", result_multiplication)

# Division
result_division = a / b
print("Division:", result_division)

# Floor Division
result_floor_division = a // b
print("Floor Division:", result_floor_division)

# Modulus
result_modulus = a % b
print("Modulus:", result_modulus)

# Exponentiation
result_exponentiation = a ** b
print("Exponentiation:", result_exponentiation)

### String type

In [ ]:
a = "Hello" # 'hello'
print(type(a))

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

#### Length

In [ ]:
a = "Hello, World!"
print(len(a))

#### Check in string

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

#### Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
a = "Hello, World!"
print(a[1])

In [ ]:
b = "Hello, World!"
print(b[2:5])

In [ ]:
b = "Hello, World!"
print(b[:3])

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

#### String functions

Python has a set of built-in methods that you can use on strings.

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

In [ ]:
a = "Hello, World!H"
print(a.replace("Hello", "hi"))

In [ ]:
a = "Hello, World!"
print(a.split()) # returns ['Hello', ' World!']

#### F-string

In [ ]:
a = "Hello"
b = " World"
c = a + b
print(c)

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

### Boolean type

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [147]:
print(bool(16))
print(bool("hi"))

True
True

In [148]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

#### Comparison operators

In [149]:
a = 5
b = 3

# Equal to
print("Equal to:", a == b)

# Not equal to
print("Not equal to:", a != b)

# Greater than
print("Greater than:", a > b)

# Less than
print("Less than:", a < b)

# Greater than or equal to
print("Greater than or equal to:", a >= b)

# Less than or equal to
print("Less than or equal to:", a <= b)

Equal to: False
Not equal to: True
Greater than: True
Less than: False
Greater than or equal to: True
Less than or equal to: False

#### Logical operators

In [150]:
a = 5
b = 10
c = 15

# Using 'and' operator
result_and = (a < b) and (b < c)
print(f"Result of 'and' operator: {result_and}")

# Using 'or' operator
result_or = (a > b) or (b < c)
print(f"Result of 'or' operator: {result_or}")

# Using 'not' operator
result_not = not (a > b)
print(f"Result of 'not' operator: {result_not}")

Result of 'and' operator: True
Result of 'or' operator: True
Result of 'not' operator: True

### List

Lists are used to store multiple items in a single variable.

Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male","abc"]

List items are ordered, changeable, and allow duplicate values.

#### List length

In [ ]:
list1 = ["apple", "banana", "cherry"]
print(len(list1))

#### List constructor

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

#### Access list items

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5:2])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

#### Change item value

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

#### Insert item value

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
x = thislist + tropical
print(x)

#### Remove items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

#### Sorting items

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

### Tuple

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple1 = ("abc", 34, True, 40, "male")

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

#### Tuple length

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

#### Tuple indexing

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

#### Update tuple

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
# thistuple = thistuple + y
# -=, *=, /=
print(thistuple)

#### Delete items

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

#### Unpacking tuple

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

#### Join tuple

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

### Set

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable, and unindexed.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set = {"abc", 34, True, 40, "male", True}
print(set)

#### Length

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

#### Access items

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

#### Adding items

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ("kiwi", "orange")

thisset.update(mylist)

print(thisset)

#### Deleting items

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

#### Join sets

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

### Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [ ]:
thisdict = {
  "brand": "Mustang",
  "model": "Mustang",
  "year": 1964,
  "year": 196
}
print(thisdict)

#### Length

In [ ]:
print(len(thisdict))

#### Access items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

In [ ]:
x = thisdict.get("model")
print(x)

In [ ]:
x = thisdict.keys()
print(x)

In [ ]:
x = thisdict.values()
print(x)

In [ ]:
x = thisdict.items()
print(x)

#### Change values

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

#### Add items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

#### Delete items

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

#### Nested dictionaries

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
print(myfamily["child2"]["year"])

### Conclusion

There are four collection data types in the Python programming language:

 * List is a collection which is ordered and changeable. Allows duplicate members.
 * Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
 * Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
 * Dictionary is a collection which is ordered and changeable. No duplicate members.